In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('weather').getOrCreate()

22/11/02 13:07:55 WARN Utils: Your hostname, tars resolves to a loopback address: 127.0.1.1; using 192.168.1.66 instead (on interface wlan0)
22/11/02 13:07:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/02 13:07:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
from pyspark.sql.functions import desc

my_df = spark.read.option('header', 'true').option('inferSchema', 'true').csv('./data/daily_weather_data.csv')

my_df.orderBy(desc('date')).show(3)

+----------+------------+------------+---------+----------+----+----+----+----+----+------+
|      date|     country|        city| Latitude| Longitude|tavg|tmin|tmax|wdir|wspd|  pres|
+----------+------------+------------+---------+----------+----+----+----+----+----+------+
|31-12-2021|Vatican City|Vatican City|41.902179| 12.453601| 9.7| 3.7|18.7|  28| 4.9|1025.0|
|31-12-2021|   Venezuela|     Caracas|10.480594|-66.903606|26.3|23.8|31.8|  59| 5.9|1013.8|
|31-12-2021|     Vietnam|       Hanoi|21.027764| 105.83416|14.7|12.6|16.6|  26| 9.2|1025.0|
+----------+------------+------------+---------+----------+----+----+----+----+----+------+
only showing top 3 rows

In [12]:
my_df.printSchema()

root
 |-- date: string (nullable = true)
 |-- country: string (nullable = true)
 |-- city: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- tavg: double (nullable = true)
 |-- tmin: double (nullable = true)
 |-- tmax: double (nullable = true)
 |-- wdir: integer (nullable = true)
 |-- wspd: double (nullable = true)
 |-- pres: double (nullable = true)

In [3]:
from pyspark.sql.functions import col

my_df.filter(col('country') == 'Ukraine').show()

+----------+-------+----+--------+---------+----+-----+----+----+----+------+
|      date|country|city|Latitude|Longitude|tavg| tmin|tmax|wdir|wspd|  pres|
+----------+-------+----+--------+---------+----+-----+----+----+----+------+
|01-01-2018|Ukraine|Kiev| 50.4501|  30.5234| 2.8|  0.4| 3.6| 174| 8.9|1012.9|
|02-01-2018|Ukraine|Kiev| 50.4501|  30.5234| 2.9|  2.3| 3.6| 149|11.4|1012.5|
|03-01-2018|Ukraine|Kiev| 50.4501|  30.5234| 4.0|  2.5| 5.6| 137|11.4|1007.9|
|04-01-2018|Ukraine|Kiev| 50.4501|  30.5234| 4.1|  2.3| 5.6| 154| 8.4|1005.1|
|05-01-2018|Ukraine|Kiev| 50.4501|  30.5234| 3.2|  2.0| 4.6| 173| 8.1|1008.3|
|06-01-2018|Ukraine|Kiev| 50.4501|  30.5234| 3.3|  0.9| 4.8| 208| 9.9|1013.9|
|07-01-2018|Ukraine|Kiev| 50.4501|  30.5234| 5.4|  3.6| 7.9| 282|10.1|1020.1|
|08-01-2018|Ukraine|Kiev| 50.4501|  30.5234|-1.1| -2.4| 2.4| 310|12.2|  null|
|09-01-2018|Ukraine|Kiev| 50.4501|  30.5234|-1.6| -3.4| 2.6| 289|15.0|  null|
|10-01-2018|Ukraine|Kiev| 50.4501|  30.5234|-2.0| -5.4| 1.7|null| 7.1|  null|
|11-01-2018|Ukraine|Kiev| 50.4501|  30.5234|-1.5| -4.0|-0.3|null| 8.3|1022.5|
|12-01-2018|Ukraine|Kiev| 50.4501|  30.5234|-1.5| -2.8| 0.6|  51|14.0|1030.7|
|13-01-2018|Ukraine|Kiev| 50.4501|  30.5234|-5.0| -6.5|-3.9|  60|14.4|1040.4|
|14-01-2018|Ukraine|Kiev| 50.4501|  30.5234|-7.6| -9.4|-6.4|  67|12.2|1038.3|
|15-01-2018|Ukraine|Kiev| 50.4501|  30.5234|-9.7|-13.4|-5.9|  70| 8.4|1033.9|
|16-01-2018|Ukraine|Kiev| 50.4501|  30.5234|-7.8|-11.4|-5.0| 118| 9.3|1018.7|
|17-01-2018|Ukraine|Kiev| 50.4501|  30.5234|-3.5| -7.4|-0.4| 155|11.9|1000.5|
|18-01-2018|Ukraine|Kiev| 50.4501|  30.5234|-1.8| -3.7| 0.6| 348|10.5|1001.3|
|19-01-2018|Ukraine|Kiev| 50.4501|  30.5234|-0.3| -2.4| 0.6|null|10.5|  null|
|20-01-2018|Ukraine|Kiev| 50.4501|  30.5234|-0.9| -4.4| 2.9| 226|14.3|  null|
+----------+-------+----+--------+---------+----+-----+----+----+----+------+
only showing top 20 rows

In [4]:
print(my_df.count())

324647